.banner_page1text {
  position: absolute;
  top: 7vw;
  left: 0vw;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 72px;
  color: #FFFFFF;
  display: inline-block;
}

.banner_page1 {
  position: relative;
  margin-bottom: 0;
  border: 0;
  border-color: transparent;
  text-align: center;
}

banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  top: 7vw;
}

/* Reverse Engineering in
Coimbatore;
================================================== */
.wrap_grid {
  max-width: 1320px;
  padding: 0px 10px;
  margin: auto;
}

.Reverse_section {
  margin-top: 10vw;
  width: 100%;
  display: inline-block;
}

.ReverseHead {
  position: relative;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.ReverseImg {
  position: relative;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.imgReverse {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.Reverseheading {
  text-align: left;
  margin: 0 0 0.5em;
  padding: 0;
  font: bold 1.5em Poppins;
  text-transform: none;
  letter-spacing: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #0E549C;
}

.Reverseparagraph {
  font-family: 'Poppins';
  font-size: 13px;
  line-height: 27px;
  color: #182243;
  font-style: normal;
}

/* Reverse applications;
================================================== */
.applications {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  background-color: #163A8E;
  float: left;
}

.Reverseapplications_section {
  background-color: white;
  font-size: 15px;
  text-align: left;
  margin: 0vw 0px 6vw 0;
  padding: 6rem 0rem;
}

.Reverseapplications_content {
  margin-left: 0px;
  padding: 0px 3rem;
  margin-right: 0px;
}

.applicationsHeading {
  font-size: 36px;
  font-family: 'Poppins';
  line-height: 1.5;
  color: #FFFF;
  text-align: center;
  margin: 3vw 0px 3vw 0;
}

.applications_para {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1rem;
  line-height: 40px;
  color: #182243;
}

/* Reverse faq;
================================================== */
.faq {
  display: inline-block;
  width: 100%;
  margin: 80px 0 80px 0;
  background-color: #ffff;
  float: left;
}

.faq_section {
  max-width: 970px;
  margin: 0 auto;
}

.faq-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 72px;
  color: #163A8E;
}

.panel-title>a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
}

.panel-title>a.collapsed:before {
  float: right !important;
  content: "\f067";
  color: #00bcd4;
}

.panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
  text-decoration: none;
}

.panel-heading {
  padding: 20px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: #1440A0;
}

.panel {
  margin-bottom: 20px !important;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #00bcd4;
  text-align: center;
  color: #fff;
}

.panel-title {
  font-size: 1rem;
  font-family: 'Poppins';
  font-style: normal;
  color: #FFFFFF;
}

.panel-body {
  padding-top: 1rem;
}

.panel_question {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner_img {
    display: none;
  }

  .tabletbanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: none;
  }

  .mobliebanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .maayon {
    width: 47%;
    max-width: 46%;
    height: auto;
  }

  .banner_page1text {
    position: absolute;
    top: 30vw;
    left: 0vw;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 72px;
    color: #FFFFFF;
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner_img {
    display: none;
  }

  .mobliebanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: none;
  }

  .tabletbanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .banner_page1text {
    position: absolute;
    top: 30vw;
    left: 0vw;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 72px;
    color: #FFFFFF;
    display: inline-block;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .banner_img {
    display: none;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
  }

  .mobliebanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: none;
  }

  .tabletbanner_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .banner_page1text {
    position: absolute;
    top: 30vw;
    left: 0vw;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 72px;
    color: #FFFFFF;
    display: inline-block;
  }
}
